data/2013_01_04_0002.abf filter=lfs diff=lfs merge=lfs -text
data/SingleChan-0001.qdf filter=lfs diff=lfs merge=lfs -text
data/eventMD-P28-bin.sqlite filter=lfs diff=lfs merge=lfs -text
data/eventMD-20150404-221533_MSA.sqlite filter=lfs diff=lfs merge=lfs -text
